/* ------------------- fonts --------------------------- */
@font-face {
	font-family: "LatoRegular";
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "LatoBold";
	src: url("../fonts/Lato-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "LatoBlack";
	src: url("../fonts/Lato-Black.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "MavenProRegular";
	src: url("../fonts/MavenPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* ------------------- global styles --------------------------- */
*{	
	box-sizing: border-box;
}

:root {
    --blue: #2eb398;
    --darkerblue: #20816d;
    --bluefacebook: #a4dbd4;
    --bluetwitter: #6ccbbe;
    --bluegoogle: #7ed0c5;
    --bluepinterest: #abddd7;
    --bluelinkedin: #acddd7;
    --blueball: #6dcbbe;
    --grey: #323232;
    --darkgrey: #222222;
    --lightgrey: #454545;
    --hex-transition: all .5s ease;
  }

body {
	margin: 0;
    padding: 0;
    color: white;
    -webkit-font-smoothing: antialiased;
}
.wrapperBody {
	margin: 0 auto;	
}

h2, h3, footer {
    font-family: "MavenProRegular", Helvetica, sans-serif;
    font-weight: 400;
    margin: 0 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

a {
	font: 10px "LatoBold";
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    color: white;    
    overflow: hide;
}

article {
    font: 12px "LatoRegular";
    text-align: justify;
}

article span {
    font: 12px "LatoBlack";
}

address {
    font: 12px "LatoBold";
    font-style: normal;
    margin-top: 70px;
}
/* -------------------header style--------------------------- */
header {
    height: 63px;
    width: 100%;
    background: var(--grey);
	user-select: none;
}
header::after {
    content: '';
    position: relative;
    top: 25px;
    left: calc(50% - 48px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 44px 0 44px; 
    border-color: var(--grey) transparent transparent transparent;
}

nav {
	display: flex;
	height: 63px;
    max-width: 370px;
    margin: 0 auto;	
	align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

nav a {
    line-height: 63px;
}

nav a:hover {
	color: var(--blue);
}

.arrow {
    margin-top: 12px;
    width: 55px;
    height: 50px;    
    background: white;
    -webkit-clip-path: polygon(50% 15%, 100% 0, 50% 100%, 0 0);
    clip-path: polygon(50% 15%, 100% 0, 50% 100%, 0 0);
}

.arrow::after {
    content: '';
    position: relative;
    display: block;
    margin-top: 2px;
    margin-left: 2px;
    width: 51px;
    height: 46px;    
    background: var(--grey);
    -webkit-clip-path: polygon(50% 15%, 100% 0, 50% 100%, 0 0);
    clip-path: polygon(50% 15%, 100% 0, 50% 100%, 0 0);
}

/* ------------------- portfolio style--------------------------- */

.portfolio {
    height: 750px;
    padding-top: 130px;
}

.hexcontainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -35px;
    margin-left: -5px;
    overflow: hidden;
}

.hexcontainer img {
    width: auto;
    height: 206px;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    transition: var(--hex-transition);
} 

.portfolio img:hover {
    filter: grayscale(100%);
    cursor: pointer;
    transition: var(--hex-transition);
}
/* ------------------- aboutMe style----------------------------- */

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    background: var(--blue);
}

.aboutMeContainer {
    width: 780px;
    height: 206px;    
    display: flex;
}

.aboutMeContainer img {
    position: relative;
    left: -120px;
    -webkit-clip-path: polygon(50% 0%, 71% 25%, 71% 75%, 50% 100%, 29% 75%, 29% 25%);
    clip-path: polygon(50% 0%, 71% 25%, 71% 75%, 50% 100%, 29% 75%, 29% 25%);
    margin: 0 5px;
}

.whoIam {
    margin-left: -215px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.whoIam h3 {    
    color: var(--darkerblue);
}

.whoIam article {
    margin-top: 10px;
}

.socialnetworks {
    display: flex;
    margin-left: auto;
    margin-top: auto;
}

i {
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    color: var(--darkerblue);
}

i:hover {    
    filter: hue-rotate(150deg);
}

.fa-facebook-f {
    background-color: var(--bluefacebook);
}

.fa-twitter {
    background-color: var(--bluetwitter);
}

.fa-google-plus-g {
    background-color: var(--bluegoogle);
}

.fa-pinterest-p {
    background-color: var(--bluepinterest);
}

.fa-linkedin-in {
    background-color: var(--bluelinkedin);
}

.fa-basketball-ball {
    background-color: var(--blueball);
}

/* ------------------- getInTouch style----------------------------- */

.getInTouch {
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 565px;
    background: var(--grey);
}

.getInTouchHeading {
    grid-area: heading;
    margin-bottom: 15px;
}

.getInTouchForm {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.getInTouchInfo {
    grid-area: info;    
}

.getInTouchInfo article {
    line-height: 20px;
}

.getInTouchContainer {
    display: grid;
    grid-template:
    [row1-start] "heading heading" auto [row1-end]
    [row2-start] "form info" auto [row2-end]
    / 75% auto;
    grid-column-gap: 20px;
    width: 780px;
    height: 435px;
}

input, textarea, button, ::placeholder {        
    font: 12px "LatoRegular";
    color: white;    
    border: none;
}

input, textarea {  
    width: 100%;
    padding-left: 10px;
    background: var(--lightgrey);
}

input, button {
    height: 38px;
}

::-ms-input-placeholder {    
    font: 12px "LatoRegular";
    color: white;
}

textarea {
    padding-top: 10px;
    height: 150px;
}

button {
    margin-left: auto;
    margin-top: 15px;
    width: 90px;
    background: var(--blue);
}

button:hover {
    cursor: pointer;
}

/* ------------------- footer style----------------------------- */

footer {
    padding-left: 40px;
    line-height: 41px;
    font-size: 12px;
    height: 41px;
    background: var(--darkgrey);
}